#root {
  width: 100%;
  height: 100%;
}

.chat-widget {
  position: relative;
  display: flex;
  background: #fff;
  height: 100%;
  flex-direction: column;
}

.chat-widget-top {
  flex: 1;
  padding: 20px 0;
  overflow: auto;
}

.chat-widget-bottom {
  position: relative;
  display: flex;
  justify-content: center;
}

.chat-text {
  resize: none;
  outline: none;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 34px;
  border-radius: 10px;
  padding: 6px;
  padding-left: 43px;
  border: 1px solid #ddd;
}

/* .list-container-icon {
  position: relative;
} */

.hamburger {
  position: absolute;
  top: 4px;
  left: 0;
  background: none;
  border: none;
  outline: none;
}

.hamburger img {
  height: 24px;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
}

.top-items-absolute-container {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 40px;
  border-radius: 6px;
  border: 1px solid #dddfe2;
  overflow: auto;
  background: white;
  box-shadow: 0 0px 4px 2px #eee;
}

/* .top-items-relative-container {
  position: relative;
}

.top-items-relative-container:after, .top-items-relative-container:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.top-items-relative-container:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #88b7d5;
	border-width: 30px;
	margin-left: -30px;
}
.top-items-relative-container:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #c2e1f5;
	border-width: 36px;
	margin-left: -36px;
} */

.top-items-container-header {
  padding: 10px;
  color: #000;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px solid #dddfe2;
}

.top-items-relative-container > .top-items-container-list {
  padding: 10px;
  font-weight: 600;
  color: #0084ff;
  border-bottom: 1px solid #dddfe2;
  cursor: pointer;
}

.microphone-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.microphone-icon {
  background: none;
  border: none;
  outline: none;
}
